@*<div class="container">

                <ul class="nav navbar-fixed-top" style="background-color: transparent; text-align: right; display: inline;">
                    <li style="display: inline;">
                        <a href="@Url.Action("Index")">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                    </li>
                    <li style="display: inline;"><a href="@Url.Action("AboutMe")"> About Mike </a></li>
                    <li style="display: inline;"><a href="@Url.Action("ContactMe")"> Contact </a></li>
                </ul>
    </div>*@
<nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container">
        <ul class="nav navbar-nav navbar-right" id="ul">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    Home
                </a>
            </li>
            <li><a href="@Url.Action("AboutMe", "Home")"> About Mike </a></li>
            <li><a href="@Url.Action("ContactMe", "Home")"> Contact </a></li>
            <li>
                <div class="wrapper">
                    <img src="~/Content/Pictures/personalpic.jpg" class="image--cover2" />
                </div>
            </li>
        </ul>
    </div>
</nav>
