

@*<div class="container">

            <ul class="nav navbar-fixed-top" style="background-color: transparent; text-align: right; display: inline;">
                <li style="display: inline;">
                    <a href="@Url.Action("Index")">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li style="display: inline;"><a href="@Url.Action("AboutMe")"> About Mike </a></li>
                <li style="display: inline;"><a href="@Url.Action("ContactMe")"> Contact </a></li>
            </ul>
</div>*@

<nav class="navbar navbar-default" style="background-color: transparent;">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li style="display: inline;">
                <a href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-home"></span>
                    Home
                </a>
            </li>
            <li style="display: inline;"><a href="@Url.Action("AboutMe")"> About Mike </a></li>
            <li style="display: inline;"><a href="@Url.Action("ContactMe")"> Contact </a></li>
        </ul>
    </div>
</nav> 
